body {
  background: linear-gradient(180deg, #290332, #2f0756, #0d1b2a, #0d1b2a);
  color: #f5f5f5; /* texto legível */
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
}

.inicio {
  background: url("/images/back-dev.png") no-repeat center center;
  background-size: cover; /* cobre toda a área */
  min-height: 100vh; /* ocupa a altura toda da janela */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bg-contactos {
  background-color: rgb(26, 26, 26);
}

.text-bg-blur {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
}

.texto-verde-lima {
  color: #97e242;
}

.texto-azul-ciano {
  color: #39cee2;
}

.card {
  width: 20rem;
}

.text-shadow {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.829);
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.559);
  padding: 10px;
  border-radius: 8px;
}

.container1 {
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
}

.loc-icon {
  color: #e23939;
}
/* Responsividade Mobile */
@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(35, 13, 88, 0.548);
    backdrop-filter: blur(10px);
  }

  img[alt="Foto de Simão Rodrigues"] {
    max-width: 250px;
  }

  .container1 {
    text-align: center;
    font-size: small;
  }

  img[alt="Foto Desktop"] {
    margin-top: 20px;
    max-width: 50%;
  }

  .cont-skills {
    align-items: center;
    margin-bottom: 30px;
  }

  .fonte-titulos-mob {
    font-size: 30px;
  }

  .carousel-caption h5 {
    font-size: 1rem;
  }

  .carousel-caption p {
    font-size: 0.7rem;
  }

  .carousel-item {
    text-align: center;
  }

  .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: contain;
    padding-bottom: 60px;
  }

  .carousel-caption {
    position: static;
    margin-top: -50px;
    color: #fff;
  }

  .carousel-indicators {
    position: absolute;
    bottom: -30px;
  }

  img[alt="car-system"] {
    max-width: 250px;
  }

  img[alt="car-sensores"] {
    max-width: 250px;
  }

  img[alt="car-tasks"] {
    max-width: 250px;
  }
}
