body {
  background: url("/images/back-dev.png") rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
}

.skills {
  background: url("/images/back-skills.png") rgba(0, 0, 0, 0.3);
}

.text-shadow {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.829);
}

@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(35, 13, 88, 0.548);
    backdrop-filter: blur(10px);
  }
}
