body {
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: "Montserrat", sans-serif;
}

footer {
  font-size: x-small;
  margin-top: 10px;
  color: rgb(156, 156, 156);
}

.hero {
  background: url("/www/images/back-dev.png") no-repeat center center/cover;
  height: 100vh; /* altura total do ecrã */
  position: relative;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

a:hover {
  color: #dfc649;
}

header {
  position: relative;
  padding: 0 2rem;
}

/* Navbar */
.navbar {
  position: absolute; /* navbar em cima da imagem */
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  backdrop-filter: blur(15px);
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navbar .logo {
  flex: 1;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navbar .toggle_btn {
  flex: 1;
  display: none; /* por defeito escondido */
  justify-content: flex-end;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Dropdown Menu */
.dropdown_menu {
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: none; /* escondido por defeito */
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu.open {
  height: 240px;
}

.aboutme {
  margin-top: 70px;
}

/* RESPONSIVO */
@media (max-width: 992px) {
  .navbar .links {
    display: none; /* esconde links */
  }
  .navbar .toggle_btn {
    display: flex; /* mostra hambúrguer */
  }
  .dropdown_menu {
    display: block; /* ativa o dropdown no mobile */
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}
